<html>
	<head><title>Store Manager About Page</title></head>
<body>

	<%- include("../partials/header", {}); %>

	<div id="main">
        <p>The store manager web application is probably the single most useful application in existence.</p>
	</div>

    <%- include("../partials/footer", {}); %>
</body>
</html>