html
	head
		title
			Store Manager About Page	
	body

		include ../partials/header

		div#main
			p The store manager web application is probably the single most useful application in existence.

		include ../partials/footer
