html
	head
		title Store Manager Home Page
body
	include ../partials/header

	div#main
		h1 List of products:
		each product in products
			a(href="/products/" + product.id) #{product.name}
			br
			
	include ../partials/footer
